<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title> About </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was created by Sandesh Sitaula. It uses data from mapbox.com and darksky.net</p>
            <img src="/img/i.jpg" alt="" class="portrait">
        </div>
    {{>footer}}
    </body>
</html>